<!DOCTYPE html>
<html>
  <head>
    <title>Legolas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
      rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <% if logged_in? %>
      <script type="text/javascript">
        window.currentUser = <%=
          render('api/users/user.json.jbuilder', user: current_user).html_safe
        %>
      </script>
    <% end %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="light">
    <%= yield %>
  </body>
</html>
